*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

.parent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.nav{
  display: flex;
  justify-content: space-between ;
  align-items: center;
  width: 300px;
}