*{
  margin: 0;
padding: 0;
box-sizing: border-box;
 font-family: Impact,  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
  padding: 20px;
}
.container{

  max-width: 40%;
margin: auto;
border: 2px solid rgba(0, 0, 0, 0);
box-shadow: 2px 2px 10px gray;
border-radius: 4px;
margin-top: 20vh;
}


.main-parent{

  margin-bottom: 20px;
}

.main-parent__title{
  text-align: center;
  color: #10cb32;
  font-weight: bold;
  margin-bottom: 20px;

}
.example-row{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;

}
.example-box{
  width: 200px;
  height: 150px;
  background: linear-gradient(145deg ,hotpink, rgb(8, 231, 227) 50%,hotpink);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  border-radius: 8px
}

.translate{
  transform: translate(-20px, -20px) ;
}
.rotate{
  transform: rotate(135deg);
}
.scale{
  transform: scale(1.1)
}
.skew{
  transform: skew(6deg, 5deg);
}

.translate-rotate{
transform: translate(-200px, -100px) rotate(45deg);
}

.scale-skew{
transform: scale(1.5) skew(10deg, 20deg) rotate(135deg);
}
.rotate-x:hover{
  transform: rotateX(190deg);
  transition: transform 1s ease-out;
}
.rotate-y:hover{
  transform: rotateY(140deg);
  transition: transform 1s ease-in-out;
}
.perspective:hover{
transform: perspective(300px) rotateY(145deg);
transition: transform 1s ease-in-out;
}
.point-center:hover{
  transform-origin: center;
  transform: rotate(45deg);
    transition: all 1s ease-in-out;

}
.point-left:hover{
  transform-origin:  left;
  transform: rotate(45deg);
  transition: all 1s ease-in-out;
}
.point-right:hover{
  transform-origin:  right;
  transform: rotate(45deg);
  transition: all 1s ease-in-out;
}
.hover-scale:hover{
  transform: scale(1.5);
  transition: transform 1s ease-in-out;
}
.hover-rotate:hover{
  transform: rotate(145deg);
  transition: transform 1s ease-in-out;
}
.hover-3d:hover{
transform: perspective(300px) rotateX(45deg) rotateY(145deg);
  transition: transform 1s ease-in-out;
}