@use "sass:color";

// variables
$primary-color: rgb(31, 131, 253);
$primary-hover:  rgb(7, 50, 103);
$secondary-color:   #667eea;
$button-br: 10px;
$swiper-br: 10px;
$button-padding: 10px;
$swiper-margin: 20px 0px;
