@use "mixin" as *;
@use "variables" as *;



.swiper{
  width: 100%;
  margin: $swiper-margin;
   &-wrapper{
    height: 200px;
    border-radius: $swiper-br;
   }
   &-slide{
    @include flex-center();
    background: $primary-color;
    font-size: $swiper-fs;
    font-weight: $swiper-fw;
    color: $secondary-color;
    border-radius: $swiper-br;
   }
   &-button-prev,&-button-next{
    color: $arrow-color;
   }
}
